.color-box {
    background-color: #ffc99d;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 600px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}
.color-box h1 {
    margin: 0;
    text-align: left;
    font-size: 22px;
    color: #333333;
    margin-left: 70px;
}

html, body {
    margin: 0;
    padding: 0;
}